div.login
	div.errorBox
	
	form(action="./", method="post") Login:
		br
		input(placeholder="username", name="username").loginBox
		br
		input(type="password", placeholder="password", name="password").loginBox
		br
		button.loginButton Login
		include register
		
