div.login
	div.errorBox
		| Password or username
		br 
		| invalid try again

	form(action="./", method="post") Login:
		br
		input(placeholder="username", name="username").loginBox
		br
		input(type="password", placeholder="password", name="password").loginBox
		br
		button.loginButton Login
		include register
		
