div.navbar  
    div.navtext
        ul
            div.dash
                li
                    a(href = "mainpage.html") Dashboard
            div.expl
                li 
                    a(href = "uitleg.html") Uitleg
            div.logout
                li
                    a(href = "login.html") Uitloggen
    