div.teachercom
    ul
        .addhomework
            li
                a(href = "addhomework.html") > Huiswerk toevoegen
        .studentresult
            li
                a(href = "studentresult.html") > Resultaten bekijken
        .addstudent
            li
                a(href = "addstudent.html") > Leerling toevoegen