div.teachernavbar  
    div.teachernavtext
        ul
            div.teacherdash
                li
                    a(href = "teacherdash.html") Dashboard
            div.logout
                li
                    a(href = "login.html") Uitloggen