doctype html
html
    head
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet") 
        link(rel="stylesheet" href="style.css")
        title Medal Math
    body
        div.page
            include components/logo
            include components/navbar
            div.medals
                div.blueMed
                    a(href="") Blue Medals
                div.greenMed
                    a(href="") Green Medals
                div.redMed
                    a(href="") Red Medals
                div.results
                    p Mijn punten
                    div.inputRes
                        p -
                        p -
                div.exBox
                    p Opdrachten
                    div.inputexBox
                        p -
                        p -
                        p -
                        p -
            include components/rightcom
            
        