doctype html
html
	head
		link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet") 
		link(rel="stylesheet" href="style.css")
		title Medal Math
	body
		div.page
			include components/logo
			include components/login
		script(src="scripts/checkLoginError.js")