doctype html
html
	head
		link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet") 
		link(rel="stylesheet" href="/style.css")
		title Medal Math
	body
		div.page
			

			include components/logo
			div.login
				div.errorBox
				form(action="./register", method="post") Registreer:
					br
					input(placeholder="product code", name="productcode").loginBox
					br
					input(placeholder="username", name="username").loginBox
					br
					input(type="password", placeholder="password", name="password").loginBox
					br
					input(type="password", placeholder="herhaal password", name="password").loginBox
					br
					button.loginButton Registreer
		script(src="scripts/checkLoginError.js")