doctype html
html
	head
		link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet") 
		link(rel="stylesheet" href="/style.css")
		title Medal Math
	body
		div.page
			include components/logo
			form(action="", method="post").login Registreer:
				br
				input(placeholder="product code", name="productcode").loginBox
				br
				input(placeholder="username", name="productcode").loginBox
				br
				input(placeholder="password", name="password").loginBox
				br
				input(placeholder="herhaal password", name="passwordRepeat").loginBox
				br
				button.loginButton Login